Detect when IETF specs gets obsoleted / replaced by another one

The information is available either through https://www.rfc-editor.org/in-notes/rfc-index.xml or via individual `https://www.rfc-editor.org/in-notes/rfcXXXX.json`. specref also exposes it.

Complements to #280

Detection of replacement is part of #1135, and based on the datatracker API.

Detection of obsolescence indeed appears in `https://www.rfc-editor.org/in-notes/rfcXXXX.json`. It is in the datatracker API as well but not as readily available: The list of obsoleted by relationships appears in https://datatracker.ietf.org/api/v1/doc/relateddocument/?relationship__slug__in=obs (~1500 relations) but I cannot find a direct way to filter that list for a given target document.

The information , but it does not appear directly through

Digging into it, I note that we currently list 8 IETF specs that have been obsoleted by another RFC (typically by [RFC9110](https://www.rfc-editor.org/rfc/rfc9110), [RFC9111](https://www.rfc-editor.org/rfc/rfc9111) or [RFC9112](https://www.rfc-editor.org/rfc/rfc9112):
- https://www.rfc-editor.org/rfc/rfc7230
- https://www.rfc-editor.org/rfc/rfc7231
- https://www.rfc-editor.org/rfc/rfc7232
- https://www.rfc-editor.org/rfc/rfc7233
- https://www.rfc-editor.org/rfc/rfc7234
- https://www.rfc-editor.org/rfc/rfc7235
- https://www.rfc-editor.org/rfc/rfc7538
- https://www.rfc-editor.org/rfc/rfc7540

These specs should be flagged as "discontinued" and obsoleted by the newer RFCs.